/* width */
.myScrollBar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.myScrollBar::-webkit-scrollbar-track {
  background: #eeecec;
}

/* Handle */
.myScrollBar::-webkit-scrollbar-thumb {
  background: #b6b4b4;
  border-radius: 10px;
  padding: 0px 4px;
}

/* Handle on hover */
.myScrollBar::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  background: #9b9a9a;
}
